@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Cormorant+SC:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&family=Slabo+27px&display=swap");

@font-face {
  font-family: "Inerta Bold";

  src: url("../assets/fonts/Inerta.otf") format("opentype");
}

/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.visible{
  visibility: visible;
}

.collapse{
  visibility: collapse;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.top-0{
  top: 0px;
}

.top-6{
  top: 1.5rem;
}

.left-0{
  left: 0px;
}

.bottom-0{
  bottom: 0px;
}

.right-0{
  right: 0px;
}

.top-5{
  top: 1.25rem;
}

.right-10{
  right: 2.5rem;
}

.top-2{
  top: 0.5rem;
}

.z-50{
  z-index: 50;
}

.z-20{
  z-index: 20;
}

.-z-10{
  z-index: -10;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.m-0{
  margin: 0px;
}

.m-auto{
  margin: auto;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mt-16{
  margin-top: 4rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-auto{
  margin-top: auto;
}

.mt-5{
  margin-top: 1.25rem;
}

.ml-7{
  margin-left: 1.75rem;
}

.ml-5{
  margin-left: 1.25rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mb-\[50px\]{
  margin-bottom: 50px;
}

.mb-\[30px\]{
  margin-bottom: 30px;
}

.mb-0{
  margin-bottom: 0px;
}

.mt-0{
  margin-top: 0px;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.mb-7{
  margin-bottom: 1.75rem;
}

.ml-4{
  margin-left: 1rem;
}

.ml-32{
  margin-left: 8rem;
}

.mr-3{
  margin-right: 0.75rem;
}

.mr-32{
  margin-right: 8rem;
}

.ml-52{
  margin-left: 13rem;
}

.mr-52{
  margin-right: 13rem;
}

.mr-20{
  margin-right: 5rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mb-32{
  margin-bottom: 8rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mr-8{
  margin-right: 2rem;
}

.mr-10{
  margin-right: 2.5rem;
}

.mr-\[\]{
  margin-right: ;
}

.mr-\[4\.5rem\]{
  margin-right: 4.5rem;
}

.box-border{
  box-sizing: border-box;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.h-\[30px\]{
  height: 30px;
}

.h-3{
  height: 0.75rem;
}

.h-8{
  height: 2rem;
}

.h-screen{
  height: 100vh;
}

.h-6{
  height: 1.5rem;
}

.h-full{
  height: 100%;
}

.h-\[27px\]{
  height: 27px;
}

.h-28{
  height: 7rem;
}

.h-60{
  height: 15rem;
}

.h-16{
  height: 4rem;
}

.h-\[336px\]{
  height: 336px;
}

.h-\[80px\]{
  height: 80px;
}

.h-\[461px\]{
  height: 461px;
}

.h-\[18px\]{
  height: 18px;
}

.h-\[16\.67vw\]{
  height: 16.67vw;
}

.max-h-\[696px\]{
  max-height: 696px;
}

.max-h-\[500px\]{
  max-height: 500px;
}

.w-full{
  width: 100%;
}

.w-\[130px\]{
  width: 130px;
}

.w-3{
  width: 0.75rem;
}

.w-\[320px\]{
  width: 320px;
}

.w-max{
  width: -moz-max-content;
  width: max-content;
}

.w-\[141px\]{
  width: 141px;
}

.w-8{
  width: 2rem;
}

.w-6{
  width: 1.5rem;
}

.w-\[90\%\]{
  width: 90%;
}

.w-\[414px\]{
  width: 414px;
}

.w-\[16\%\]{
  width: 16%;
}

.w-7{
  width: 1.75rem;
}

.w-\[40\%\]{
  width: 40%;
}

.w-\[80px\]{
  width: 80px;
}

.w-\[430px\]{
  width: 430px;
}

.w-\[18px\]{
  width: 18px;
}

.w-\[85\%\]{
  width: 85%;
}

.w-\[1050px\]{
  width: 1050px;
}

.w-\[1012px\]{
  width: 1012px;
}

.w-\[1028px\]{
  width: 1028px;
}

.w-\[1020px\]{
  width: 1020px;
}

.w-\[61\%\]{
  width: 61%;
}

.w-\[94\%\]{
  width: 94%;
}

.w-\[96\%\]{
  width: 96%;
}

.w-\[98\%\]{
  width: 98%;
}

.w-\[100\%\]{
  width: 100%;
}

.w-\[99\%\]{
  width: 99%;
}

.w-\[95\%\]{
  width: 95%;
}

.w-\[37\%\]{
  width: 37%;
}

.w-11{
  width: 2.75rem;
}

.w-1{
  width: 0.25rem;
}

.w-\[\]{
  width: ;
}

.w-\[60\%\]{
  width: 60%;
}

.w-\[0\%\]{
  width: 0%;
}

.w-\[20\%\]{
  width: 20%;
}

.w-\[80\]{
  width: 80;
}

.w-\[80\%\]{
  width: 80%;
}

.w-\[30\%\]{
  width: 30%;
}

.w-\[25\%\]{
  width: 25%;
}

.w-\[70\%\]{
  width: 70%;
}

.w-\[22\%\]{
  width: 22%;
}

.w-\[\%\]{
  width: %;
}

.w-\[65\%\]{
  width: 65%;
}

.w-\[63\%\]{
  width: 63%;
}

.w-\[62\%\]{
  width: 62%;
}

.min-w-\[14rem\]{
  min-width: 14rem;
}

.max-w-\[819px\]{
  max-width: 819px;
}

.max-w-\[90rem\]{
  max-width: 90rem;
}

.max-w-\[55rem\]{
  max-width: 55rem;
}

.max-w-\[816px\]{
  max-width: 816px;
}

.max-w-\[387px\]{
  max-width: 387px;
}

.max-w-\[397px\]{
  max-width: 397px;
}

.max-w-\[900px\]{
  max-width: 900px;
}

.max-w-\[452px\]{
  max-width: 452px;
}

.max-w-\[400px\]{
  max-width: 400px;
}

.max-w-\[1140px\]{
  max-width: 1140px;
}

.border-collapse{
  border-collapse: collapse;
}

.rotate-45{
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90{
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.select-none{
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resize{
  resize: both;
}

.list-decimal{
  list-style-type: decimal;
}

.list-disc{
  list-style-type: disc;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.place-content-center{
  place-content: center;
}

.place-items-center{
  place-items: center;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-4{
  gap: 1rem;
}

.gap-1{
  gap: 0.25rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-7{
  gap: 1.75rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-20{
  gap: 5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-10{
  gap: 2.5rem;
}

.gap-6{
  gap: 1.5rem;
}

.overflow-auto{
  overflow: auto;
}

.overflow-hidden{
  overflow: hidden;
}

.scroll-auto{
  scroll-behavior: auto;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.border{
  border-width: 1px;
}

.border-b-\[1\.5px\]{
  border-bottom-width: 1.5px;
}

.border-t{
  border-top-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-b-\[1px\]{
  border-bottom-width: 1px;
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-t-gray-300{
  --tw-border-opacity: 1;
  border-top-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-b-\[\]{
  border-bottom-color: ;
}

.bg-darkBgColor{
  --tw-bg-opacity: 1;
  background-color: rgb(8 8 12 / var(--tw-bg-opacity));
}

.bg-\[\#1C1C21\]{
  --tw-bg-opacity: 1;
  background-color: rgb(28 28 33 / var(--tw-bg-opacity));
}

.bg-primaryHoverColor{
  --tw-bg-opacity: 1;
  background-color: rgb(242 208 130 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#2E2E33\]{
  --tw-bg-opacity: 1;
  background-color: rgb(46 46 51 / var(--tw-bg-opacity));
}

.bg-\[\#3C3C43\]{
  --tw-bg-opacity: 1;
  background-color: rgb(60 60 67 / var(--tw-bg-opacity));
}

.bg-\[\#F7F7F8\]{
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 248 / var(--tw-bg-opacity));
}

.bg-\[\#E3C682\]{
  --tw-bg-opacity: 1;
  background-color: rgb(227 198 130 / var(--tw-bg-opacity));
}

.bg-\[\#f0f2f4\]{
  --tw-bg-opacity: 1;
  background-color: rgb(240 242 244 / var(--tw-bg-opacity));
}

.bg-transparent{
  background-color: transparent;
}

.bg-gray-300{
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.bg-blue-100{
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.bg-green-100{
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}

.bg-\[\#F6F7F9\]{
  --tw-bg-opacity: 1;
  background-color: rgb(246 247 249 / var(--tw-bg-opacity));
}

.bg-inherit{
  background-color: inherit;
}

.bg-\[\]{
  background-color: ;
}

.bg-\[\#\]{
  background-color: #;
}

.bg-\[url\(\'\.\.\/images\/tradeCompetitionBgx2\.png\'\)\]{
  background-image: url('../images/tradeCompetitionBgx2.png');
}

.bg-cover{
  background-size: cover;
}

.bg-scroll{
  background-attachment: scroll;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.fill-white{
  fill: #fff;
}

.fill-\[\#9d9db4\]{
  fill: #9d9db4;
}

.stroke-white{
  stroke: #fff;
}

.stroke-gray-200{
  stroke: #e5e7eb;
}

.stroke-none{
  stroke: none;
}

.stroke-\[\#9d9db4\]{
  stroke: #9d9db4;
}

.stroke-primaryHoverColor{
  stroke: #f2d082;
}

.p-0{
  padding: 0px;
}

.p-3{
  padding: 0.75rem;
}

.p-2{
  padding: 0.5rem;
}

.p-5{
  padding: 1.25rem;
}

.p-20{
  padding: 5rem;
}

.p-10{
  padding: 2.5rem;
}

.p-4{
  padding: 1rem;
}

.p-8{
  padding: 2rem;
}

.p-9{
  padding: 2.25rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-paddingHorizon{
  padding-left: 80px;
  padding-right: 80px;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-20{
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-20{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-\[30px\]{
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pl-5{
  padding-left: 1.25rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.pb-\[20rem\]{
  padding-bottom: 20rem;
}

.pl-14{
  padding-left: 3.5rem;
}

.pr-14{
  padding-right: 3.5rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pt-20{
  padding-top: 5rem;
}

.pb-20{
  padding-bottom: 5rem;
}

.pr-5{
  padding-right: 1.25rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pt-8{
  padding-top: 2rem;
}

.pl-8{
  padding-left: 2rem;
}

.pt-40{
  padding-top: 10rem;
}

.pb-0{
  padding-bottom: 0px;
}

.pt-3{
  padding-top: 0.75rem;
}

.pl-4{
  padding-left: 1rem;
}

.pr-2{
  padding-right: 0.5rem;
}

.pl-9{
  padding-left: 2.25rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pl-12{
  padding-left: 3rem;
}

.pl-16{
  padding-left: 4rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pl-1{
  padding-left: 0.25rem;
}

.pl-32{
  padding-left: 8rem;
}

.pr-32{
  padding-right: 8rem;
}

.pt-10{
  padding-top: 2.5rem;
}

.pb-28{
  padding-bottom: 7rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pb-32{
  padding-bottom: 8rem;
}

.pb-\[\]{
  padding-bottom: ;
}

.pb-\[80px\]{
  padding-bottom: 80px;
}

.pr-10{
  padding-right: 2.5rem;
}

.pr-16{
  padding-right: 4rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.align-baseline{
  vertical-align: baseline;
}

.align-middle{
  vertical-align: middle;
}

.font-Inter{
  font-family: Inter, sans-serif;
}

.font-Poppins{
  font-family: Poppins, sans-serif;
}

.font-Outfit{
  font-family: Outfit, sans-serif;
}

.font-Montserrat{
  font-family: Montserrat, sans-serif;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-\[50px\]{
  font-size: 50px;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-\[3\.375rem\]{
  font-size: 3.375rem;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[13px\]{
  font-size: 13px;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[15\.5px\]{
  font-size: 15.5px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[60px\]{
  font-size: 60px;
}

.text-\[16\.7px\]{
  font-size: 16.7px;
}

.text-\[17px\]{
  font-size: 17px;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[10px\]{
  font-size: 10px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[1px\]{
  font-size: 1px;
}

.font-\[400\]{
  font-weight: 400;
}

.font-normal{
  font-weight: 400;
}

.font-\[600\]{
  font-weight: 600;
}

.font-semibold{
  font-weight: 600;
}

.font-\[700\]{
  font-weight: 700;
}

.font-\[500\]{
  font-weight: 500;
}

.font-\[300\]{
  font-weight: 300;
}

.font-bold{
  font-weight: 700;
}

.font-\[200\]{
  font-weight: 200;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-\[23px\]{
  line-height: 23px;
}

.leading-\[20px\]{
  line-height: 20px;
}

.leading-\[33px\]{
  line-height: 33px;
}

.leading-\[19px\]{
  line-height: 19px;
}

.text-\[\#a6a6b0\]{
  --tw-text-opacity: 1;
  color: rgb(166 166 176 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-\[\#565661\]{
  --tw-text-opacity: 1;
  color: rgb(86 86 97 / var(--tw-text-opacity));
}

.text-green-500{
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-\[\#3d3c44\]{
  --tw-text-opacity: 1;
  color: rgb(61 60 68 / var(--tw-text-opacity));
}

.text-blue-400{
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}

.text-blue-300{
  --tw-text-opacity: 1;
  color: rgb(147 197 253 / var(--tw-text-opacity));
}

.text-primaryHoverColor{
  --tw-text-opacity: 1;
  color: rgb(242 208 130 / var(--tw-text-opacity));
}

.text-\[\]{
  color: ;
}

.underline{
  text-decoration-line: underline;
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl{
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline{
  outline-style: solid;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Inerta;
}

:root {
  --header-space: 0.8rem;
  --color-border: #3c3c44;
  --transition-duration-lg: calc(var(--transition-duration) * 2);
  --border-radius: 0.5rem;
  --border-radius-sm: 0.375rem;
  --border-radius-lg: calc(var(--border-radius) * 2);
  --border-radius-xl: calc(var(--border-radius) * 3);
  --spaces: 0.5rem;
  --header-height: 3.45rem;
  --trade-info-height: 3rem;
}

main {
  padding-top: var(--header-height);
}

header {
  padding: var(--header-space) calc(var(--spaces) * 7);
  z-index: 999999;
}

@media (min-width: 768px) {
  footer section {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    max-width: 90rem;
    padding-top: calc(var(--spaces) * 7);
  }

  footer section div.sec {
    padding-bottom: calc(var(--spaces) * 7);
  }
}

@media screen and (max-width: 1100px) {
}

.HitSteps:before {
  position: absolute;
  top: -4rem;
  right: -0.9375rem;
  bottom: -4.75rem;
  left: -0.9375rem;
  z-index: 1;
  content: "";
  background: url("../images/hitsBg.svg") 50% 50% / contain no-repeat;
  width: 100%;
}

@media screen and (max-width: 900px) {
  header {
    padding: var(--header-space) calc(var(--spaces) * 4);
  }

  @media screen and (max-width: 880px) and (min-width: 700px) {
    header {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 770px) {
    footer section {
      padding-left: 2.6rem;
      padding-right: 2.6rem;
      max-width: 90rem;
      padding-top: calc(var(--spaces) * 7);
    }

    footer section div.sec {
      padding-bottom: calc(var(--spaces) * 7);
    }

    header {
      padding: var(--header-space) calc(var(--spaces) * 3);
    }
  }
}

@media screen and (max-width: 700px) {
  footer section {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    max-width: 90rem;
    padding-top: calc(var(--spaces) * 7);
  }

  footer section div.sec {
    padding-bottom: calc(var(--spaces) * 7);
  }
}

@media screen and (max-width: 500px) {
  footer section {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 90rem;
    padding-top: calc(var(--spaces) * 7);
  }

  footer section div.sec {
    padding-bottom: calc(var(--spaces) * 7);
  }
}

@media screen and (min-width: 1366px) {
  .add_linear_gradient_effect:after,
  .add_linear_gradient_effect:before {
    top: -81%;
    left: -30%;
    width: 80%;
    padding-top: 80%;
  }
}

.add_linear_gradient_effect {
  position: relative;
  z-index: 9;
}

.add_linear_gradient_effect:after,
.add_linear_gradient_effect:before {
  position: absolute;
  top: 0;
  left: -60%;
  width: 130%;
  padding-top: 130%;
  content: "";
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(240, 163, 72, 0.2) 0,
    rgba(240, 163, 72, 0) 100%
  );
  z-index: -1;
}

.add_linear_gradient_effect:after {
  right: -60%;
  left: auto;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(240, 72, 233, 0.14) 0,
    rgba(240, 72, 233, 0) 100%
  );
}

@media (min-width: 1366px) {
  .add_linear_gradient_effect:before {
    height: 28.25rem;
  }

  .add_linear_gradient_effect:before,
  .add_linear_gradient_effect:after {
    top: -70%;
    left: -30%;
    width: 80%;
    padding-top: 80%;
  }

  .add_linear_gradient_effect:after {
    /* right: -14%;
        width: 113%; */
    right: 10px;
    width: 100%;
    left: 0;
    right: 30%;
  }

  .custom_hero_margin {
    margin: 0 0 calc(var(--spaces) * 17);
  }

  .treasure:before {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 20%;
    bottom: 0px;
    content: "";
    z-index: 1;
    background-image: url(../images/treasure.png);
    background-size: 59%;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .custom_hero_margin {
    max-width: 55rem;
  }
}

.HitSteps .inner_cards:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 3.25rem;
  height: 1.5625rem;
  content: "";
  background: url("../images/arrow-step.svg");
  transform: translate(-50%, 1.5625rem);
  top: 1.4375rem;
  left: auto;
  transform: translate(0) rotate(-90deg);
  right: -1.5625rem;
}

.TradingCompetitionSlide-holder {
  align-items: flex-start;
  justify-content: center;
  max-width: 82vw;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--spaces) * 3.75);
}

.menu-dropdown {
  height: -moz-max-content;
  height: max-content;
  transition: max-height 0.4s ease-in-out;
}

.show {
  background-color: hsla(0, 0%, 100%, 0.4);
  height: 100%;
  padding: 8px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  display: none;
  visibility: hidden;
  transition: all 2s ease-in-out;
}

.hover\:cursor-pointer:hover{
  cursor: pointer;
}

.hover\:bg-darkHoverColor:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(16 16 20 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-primaryActiveColor:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(227 198 130 / var(--tw-bg-opacity));
}

.hover\:bg-slate-200:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.hover\:stroke-blue-500:hover{
  stroke: #3b82f6;
}

.hover\:text-primaryHoverColor:hover{
  --tw-text-opacity: 1;
  color: rgb(242 208 130 / var(--tw-text-opacity));
}

.hover\:duration-200:hover{
  transition-duration: 200ms;
}

.group:hover .group-hover\:rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:stroke-primaryHoverColor{
  stroke: #f2d082;
}

.group:hover .group-hover\:text-primaryHoverColor{
  --tw-text-opacity: 1;
  color: rgb(242 208 130 / var(--tw-text-opacity));
}

.group:hover .group-hover\:duration-200{
  transition-duration: 200ms;
}

.group:hover .group-hover\:duration-300{
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .sm\:w-\[80\%\]{
    width: 80%;
  }

  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px){
  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-\[30px\]{
    height: 30px;
  }

  .md\:h-\[28px\]{
    height: 28px;
  }

  .md\:w-\[70\%\]{
    width: 70%;
  }

  .md\:w-\[28px\]{
    width: 28px;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:gap-5{
    gap: 1.25rem;
  }

  .md\:gap-3{
    gap: 0.75rem;
  }

  .md\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@media (min-width: 1024px){
  .lg\:w-\[414px\]{
    width: 414px;
  }

  .lg\:w-\[60\%\]{
    width: 60%;
  }

  .lg\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:gap-2{
    gap: 0.5rem;
  }

  .lg\:gap-5{
    gap: 1.25rem;
  }

  .lg\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
