
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Cormorant+SC:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,900&family=Slabo+27px&display=swap');

@font-face {
    font-family: "Inerta Bold";
    src: url("../assets/fonts/Inerta.otf") format("opentype");
}
    
    

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5 {
    font-family: Inerta;
}

:root {
    --header-space: 0.6875rem;
    --spaces: 0.5rem;
    --color-border: #3c3c44;
}

header {
    padding: var(--header-space) calc(var(--spaces)*7);
    z-index: 999999;
}


@media (min-width: 768px) {
    footer section {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        max-width: 90rem;
        padding-top: calc(var(--spaces)*7);        
    }

    footer section div.sec {
        padding-bottom: calc(var(--spaces)*7);
    }
}
 
@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 900px) {

    header {
        padding: var(--header-space) calc(var(--spaces)*4)
    }
    

    @media screen and (max-width: 880px) and (min-width: 700px) {
        header {
            font-size: 13px;
        }
    }

    @media screen and (max-width: 770px) {

        footer section {
            padding-left: 2.6rem;
            padding-right: 2.6rem;
            max-width: 90rem;
            padding-top: calc(var(--spaces)*7);        
        }
    
        footer section div.sec {
            padding-bottom: calc(var(--spaces)*7);
        }

        header {
            padding: var(--header-space) calc(var(--spaces)*3)
        }
        
    }
}

@media screen and (max-width: 700px) {
    footer section {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
        max-width: 90rem;
        padding-top: calc(var(--spaces)*7);        
    }

    footer section div.sec {
        padding-bottom: calc(var(--spaces)*7);
    }
}

@media screen and (max-width: 500px) {
    footer section {
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 90rem;
        padding-top: calc(var(--spaces)*7);        
    }

    footer section div.sec {
        padding-bottom: calc(var(--spaces)*7);
    }
}

@media screen and (min-width: 1366px) {

    .add_linear_gradient_effect:after, .add_linear_gradient_effect:before {
        top: -81%;
        left: -30%;
        width: 80%;
        padding-top: 80%;
    }
}


.add_linear_gradient_effect {
    position: relative;
    z-index: 9;
}
.add_linear_gradient_effect:after, .add_linear_gradient_effect:before {
    position: absolute;
    top: 0;
    left: -60%;
    width: 130%;
    padding-top: 130%;
    content: "";
    background: radial-gradient(50% 50% at 50% 50%,rgba(240,163,72,.2) 0,rgba(240,163,72,0) 100%);
    z-index: -1;
}

.add_linear_gradient_effect:after {
    right: -60%;
    left: auto;
    background: radial-gradient(50% 50% at 50% 50%,rgba(240,72,233,.14) 0,rgba(240,72,233,0) 100%);

    
}

@media (min-width: 1366px) {
    .add_linear_gradient_effect:before {
        height: 28.25rem;
    }
    .add_linear_gradient_effect:before,  .add_linear_gradient_effect:after {
        top: -70%;
        left: -30%;
        width: 80%;
        padding-top: 80%;
    }
     .add_linear_gradient_effect:after {
        /* right: -14%;
        width: 113%; */

        right: 10px; width: 100%; left: 0; right: 30%;
    }

    .custom_hero_margin {
        margin: 0 0 calc(var(--spaces)*17);
    }

    .treasure:before {
        position: absolute;
        top: 20%;
        left: 0px;
        right: 20%;
        bottom: 0px;
        content: '';
        z-index: 1;
        background-image: url(../images/treasure.png);
        background-size: 59%;
        background-repeat: no-repeat;
        background-position: right center;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .custom_hero_margin {
        max-width: 55rem;
    }

}